<div class="container-fluid" ui-view="page">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="pull-left page-title">
        Change Password
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-12">
              <div class="pull-left">
                <a ng-disabled="_loading"
                   ui-sref="index.accountSettings.users"
                   class="btn btn-default">
                  <i class="glyphicon glyphicon-arrow-left"></i>&nbsp;
                  Back
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="alert alert-info" ng-if="_loading">
            <i class="glyphicon glyphicon-refresh spin" ng-if="item.loading"></i>&nbsp;
            Loading...
          </div>

          <form class="form-horizontal" name="form" ng-submit="updateProfile(user)">
            <div class="form-group">
              <label for="current_password" class="col-sm-2 control-label">Current Password</label>
              <div class="col-sm-10">
                <input type="password"
                       class="form-control"
                       name="current_password"
                       ng-minlength="8"
                       ng-disabled="_loading"
                       ng-model="pass.current_password"
                       id="current_password"
                       autocomplete="off"
                       autofocus>
              </div>
            </div>
            <div class="form-group">
              <label for="new_password" class="col-sm-2 control-label">New Password</label>
              <div class="col-sm-10">
                <input type="password"
                       class="form-control"
                       name="new_password"
                       ng-minlength="8"
                       ng-disabled="_loading"
                       ng-model="pass.new_password"
                       autocomplete="off"
                       id="new_password">
              </div>
            </div>
            <div class="form-group">
              <label for="confirm_password" class="col-sm-2 control-label">Confirm New Password</label>
              <div class="col-sm-10">
                <input type="password"
                       class="form-control"
                       name="confirm_password"
                       ng-minlength="8"
                       ng-disabled="_loading"
                       ng-model="pass.confirm_password"
                       autocomplete="off"
                       id="confirm_password">
              </div>
            </div>

            <hr>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">

                <a ng-disabled="_loading"
                   ui-sref="index.accountSettings.users"
                   class="btn btn-default">
                  <i class="glyphicon glyphicon-remove"></i>&nbsp;
                  Cancel
                </a>

                <button class="btn btn-success" ng-disabled="disableSubmit(pass)">
                  <i class="glyphicon glyphicon-ok"></i>&nbsp;
                  Update Password
                </button>
              </div>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>
