// styles for the module "domains"
// section  domain-caching-rules
.domain-caching-rules {
  &__info {
    .panel-buttons-left {
      padding-right: 30px;
    }
  }
  & .table-headers-info {
    tr > th {
      text-align: center;
    }
    .table-title--operation {
      width: 120px;
    }
  }
  // NOTE: hardcode fix for ui-select
  .ui-select-container {
    input::-webkit-input-placeholder,.ui-select-search {
      min-width: 200px;
    }
  }
}

.caching-rules-list {
  .panel-buttons-left {
    padding-right: 20px;
  }
}
