<div class="modal-header">
  <h3 class="modal-title">Forgot Password</h3>
</div>
<div class="modal-body">
  <alert-list></alert-list>
  <form class="form-horizontal" ng-submit="forgot()">
    <div class="form-group">
      <div class="col-sm-8 col-sm-offset-2">
        <input type="email"
               class="form-control"
               ng-model="data.email"
               id="email"
               placeholder="Enter your email here"
               ng-disabled="data.loading"
               required
               autofocus>
      </div>
    </div>
  </form>

</div>
<div class="modal-footer">
  <button class="btn btn-default" type="button" ng-click="close()">Cancel</button>
  <button class="btn btn-primary" type="button" ng-click="forgot()" ng-disabled="!data.email">Submit</button>
</div>
