<div class="modal-header">
  <h3 class="modal-title">Edit API Key "{{key.key_name}}"</h3>
</div>
<div class="modal-body">
  <alert-list></alert-list>
  <div class="alert alert-info" ng-if="_loading">
    <i class="glyphicon glyphicon-refresh spin" ng-if="item.loading"></i>&nbsp;
    Loading...
  </div>
  <form class="form-horizontal" ng-submit="ok()">
    <div class="form-group">
      <label for="key_name"
             class="col-sm-2 control-label"
      >API Key Name</label>

      <div class="col-sm-10">
        <input type="text"
               class="form-control"
               ng-model="key.key_name"
               id="key_name"
               ng-disabled="_loading"
               placeholder="Api Key name">
      </div>
    </div>
    <div class="form-group">
      <label for="key"
             class="col-sm-2 control-label"
      >API Key</label>

      <div class="col-sm-10">
        <input type="text"
               class="form-control"
               disabled
               ng-model="key.key"
               id="key"
               placeholder="Api Key Name">
      </div>
    </div>
    <div class="form-group" ng-hide="!companies || companies.length == 1">
      <label for="account_id"
             class="col-sm-2 control-label"
      >Account</label>

      <div class="col-sm-10">
        <ui-select id="account_id"
                   ng-disabled="_loading"
                   ng-model="key.account_id"
                   style="width: 100%;">
          <ui-select-match placeholder="Select Account">{{$select.selected.companyName}}</ui-select-match>
          <ui-select-choices repeat="item.id as item in companies | filter: {companyName: $select.search}">
            <small ng-bind-html="item.companyName|highlight: $select.search"> </small>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="form-group">
      <label for="active"
             class="col-sm-2 control-label"
             ng-disabled="_loading"
      >Active</label>

      <div class="col-sm-10">
        <input type="checkbox"
               id="active"
               ng-model="key.active"
               ng-disabled="_loading">
      </div>
    </div>
    <div class="form-group">
      <label for="read_only_status"
             class="col-sm-2 control-label"
      >Read Only</label>

      <div class="col-sm-10">
        <input type="checkbox"
               id="read_only_status"
               ng-model="key.read_only_status"
               ng-disabled="_loading">
      </div>
    </div>
    <hr>
    <h4>Managed Domains:</h4>

    <div class="form-group">
      <div class="col-sm-12">
        <ui-select id="domains"
                   multiple
                   ng-disabled="_loading"
                   ng-model="key.domains"
                   style="width: 100%;">
          <ui-select-match placeholder="Select Domains">{{$item.domain_name}}</ui-select-match>
          <ui-select-choices repeat="item.id as item in selectedDomains | filter: {domain_name: $select.search}">
            <small>{{item.domain_name}}</small>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <hr>
    <h4>Permissions:</h4>

    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <input type="checkbox" ng-model="key.allowed_ops.read_config" ng-disabled="_loading"> Read <br>
        <input type="checkbox" ng-model="key.allowed_ops.modify_config" ng-disabled="_loading"> Modify <br>
        <input type="checkbox" ng-model="key.allowed_ops.delete_config" ng-disabled="_loading"> Delete <br>
        <input type="checkbox" ng-model="key.allowed_ops.purge" ng-disabled="_loading"> Purge <br>
        <input type="checkbox" ng-model="key.allowed_ops.reports" ng-disabled="_loading"> Reports <br>
        <input type="checkbox" ng-model="key.allowed_ops.admin" ng-disabled="_loading"> Admin <br>
      </div>
    </div>
  </form>

</div>
<div class="modal-footer">
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  <button class="btn btn-success" type="button" ng-click="ok()">Update</button>
</div>
