<form role="form">
  <div class="form-group">
    <label for="domain">Domain</label>
    <div domain-select id="domain" ng-model="domain" on-select="onDomainSelected()" select-one="true"></div>
  </div>
  <div class="form-group">
    <label for="domain">Filters</label>
  </div>
  <div class="form-inline">
    <div class="form-group">
      <select class="form-control fixed" ng-model="config.filters.count_last_day" ng-disabled="!domain">
        <option value="1">Last 1 Day</option>
        <option value="7">Last 7 Days</option>
        <option value="30">Last 30 Days</option>
      </select>
    </div>
    <div class="form-group">
      <select id="country" class="form-control fixed" ng-model="config.filters.country" ng-disabled="!domain">
        <option value="-">All Countries</option>
        <option ng-repeat="(key, item) in flCountry" value="{{key}}">{{item}}</option>
      </select>
    </div>
    <div class="form-group">
      <select id="os" class="form-control fixed" ng-model="config.filters.os" ng-disabled="!domain">
        <option value="-">All OS</option>
        <option ng-repeat="item in flOs.labels" value="{{item}}">{{item}}</option>
      </select>
    </div>
    <div class="form-group">
      <select id="device" class="form-control fixed" ng-model="config.filters.device" ng-disabled="!domain">
        <option value="-">All Devices</option>
        <option ng-repeat="item in flDevice.labels" value="{{item}}">{{item}}</option>
      </select>
    </div>
  </div>
</form>
