<div class="row">
  <div class="col-sm-12">
    <h2 class="pull-left page-title">
      Add New {{model.app_platform.name}} App
    </h2>
  </div>
</div>
<div class="row" ng-init="initNew()">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-12">
            <div class="pull-left">
              <a ui-sref="^" ng-disabled="_loading" class="btn btn-info">
                <i class="glyphicon glyphicon-arrow-left"></i>&nbsp; Back To List
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <form name="createForm" class="form-horizontal" novalidate>
          <div class="form-group" ng-class="{'has-error': createForm.app_name.$invalid && createForm.app_name.$dirty}">
            <label for="app_name" popover-append-to-body="{{true}}" class="col-sm-2 control-label" popover-trigger="mouseenter" uib-popover="Enter a name for the app to be registered (50 characters max)">App Name *
            </label>
            <div class="col-sm-10">
              <input type="text" name="app_name" class="form-control" ng-disabled="_loading" ng-model="model.app_name" ng-maxlength="50" id="app_name" placeholder="App name (for example, 'MyCoolApp')"
                ng-pattern="/^[A-Za-z0-9 -]+$/" required>
              <div class="error-messages" ng-messages="createForm.app_name.$error" role="alert" ng-messages-multiple>
                <div ng-messages-include="parts/shared/error-messages.html"></div>
              </div>
            </div>
          </div>
          <div class="form-group " ng-if="companies.length> 1" ng-class="{'has-error': createForm.accountId.$invalid &&
                createForm.accountId.$dirty}">
            <label for="account_id" popover-append-to-body="{{true}}" class="col-sm-2 control-label" popover-trigger="mouseenter" uib-popover="Select company name the domain should be associated with">Account *</label>
            <div class="col-sm-10">
              <input type="hidden" ng-model="model.account_id" name="accountId" required></input>
              <ui-select ng-model="model.account_id" theme="select2" ng-disabled="_loading" name="account_id" on-select="onAccountSelect($model)" style="min-width: 550px;" id="account_id">
                <ui-select-match placeholder="Select Account">{{$select.selected.companyName}}</ui-select-match>
                <ui-select-choices repeat="item.id as item in companies | filter: {companyName: $select.search}">
                  <div ng-bind-html="item.companyName|highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
              <div class="has-error error-messages" ng-messages="createForm.accountId.$error" role="alert" ng-messages-multiple>
                <div ng-messages-include="parts/shared/error-messages.html"></div>
              </div>
            </div>
          </div>
          <!--
          <div class="form-group">
            <label for="app_platform"
                   popover-append-to-body="{{true}}"
                   class="col-sm-2 control-label"
                   popover-trigger="mouseenter"
                   uib-popover="Select desired platform"
            >Platform</label>

            <div class="col-sm-10">
              <select class="form-control"
                      ng-disabled="_loading"
                      ng-model="model.app_platform"
                      id="app_platform"
                      required
                      ng-options="platform.name disable when platform.disabled for platform in platforms">
              </select>
            </div>
          </div>
-->
          <div class="form-group" ng-class="{ 'has-error': createForm.comment.$invalid && createForm.comment.$dirty }">
            <label for="comment" class="col-sm-2 control-label" popover-trigger="mouseenter" uib-popover="Enter a free-text comment about the app (300 characters max)">Comment</label>
            <div class="col-sm-10">
              <textarea id="comment" placeholder="Comment" ng-maxlength="300" class="form-control" name="comment" ng-model="model.comment" ng-disabled="_loading">
              </textarea>
              <div class="error-messages" ng-messages="createForm.comment.$error" role="alert" ng-messages-multiple>
                <div ng-messages-include="parts/shared/error-messages.html"></div>
              </div>
            </div>
          </div>
          <hr>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <a ui-sref="^" class="btn btn-default">
                <i class="glyphicon glyphicon-remove"></i>&nbsp; Cancel
              </a>
              <button class="btn btn-success" ng-disabled="_loading || createForm.$invalid" ng-click="createApp(model)">
                <i class="glyphicon glyphicon-refresh spin" ng-if="_loading"></i>
                <i class="glyphicon glyphicon-ok" ng-if="!_loading"></i>&nbsp; Register
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
