<div class="panel panel-default">
  <div class="panel-heading" ng-if="$ctrl.isRegistryFinish">
    <h4>Please finish your registration</h4>
  </div>
  <div class="panel-body" ng-if="$ctrl.isRegistryFinish">
    <div class="row">
      <div class="col-md-12">
        <p class="lead">
          We have sent an email with verification link to email address <b>{{$ctrl.model.email}}</b> - please continue the RevAPM registration process by following the link (don't forget to check your Spam mailbox too).
        </p>
        <p class="lead">
          <!-- Now you can close the browser window. -->
          <button type="text" class="btn btn-warning pull-right" ng-click="$ctrl.onRepeatSendRegistrationEmail($ctrl.model.email,$ctrl.model.password)">Didn’t receive the email?</button>
        </p>
      </div>
    </div>
  </div>
  <div class="panel-heading" ng-if="!$ctrl.isRegistryFinish">
    <div class="row">
      <div class="col-md-12">
        <h4 class="text-center">Please fill in your contact info (all fields are required):</h4>
      </div>
    </div>
  </div>
  <div class="panel-body" ng-if="!$ctrl.isRegistryFinish">
    <form class="col-sm-offset-2 col-sm-8 form-horizontal form-contact-info" name="newUser" novalidate>
      <div class="form-group " ng-class="{ 'has-error': newUser.email.$invalid &&
                                newUser.email.$dirty }">
        <label for="email" popover-append-to-body="{{true}}" class="col-sm-2 control-label" popover-trigger="mouseenter" uib-popover="New user's email address - the address should be unique across the system">
          Email *</label>
        <div class="col-sm-10">
          <input type="email" autofocus class="form-control" id="email" name="email" placeholder="Email" ng-model="$ctrl.model.email" required ng-disabled="_loading">
          <span ng-show="!!newUser['email'].$error.email" style="color:red">Please use format example@example.com</span>
        </div>
      </div>
      <div class="form-group">
        <label for="firstName" class="col-sm-2 control-label" popover-trigger="mouseenter" uib-popover="First name">First Name *</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" required ng-maxlength="150" ng-model="$ctrl.model.first_name" ng-disabled="_loading">
          <span ng-show="!!newUser['firstName'].$error.maxlength" style="color:red">150 characters max</span>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName" class="col-sm-2 control-label" popover-trigger="mouseenter" uib-popover="Last name">Last Name *</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" ng-model="$ctrl.model.last_name" required ng-maxlength="150" ng-disabled="_loading">
          <span ng-show="!!newUser['lastName'].$error.maxlength" style="color:red">150 characters max</span>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error': newUser.password.$invalid &&
                            newUser.password.$dirty }">
        <label for="password" popover-append-to-body="{{true}}" class="col-sm-2 control-label" popover-trigger="mouseenter" uib-popover="At least eight symbols">Password *</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="password" name="password" ng-model="$ctrl.model.password" ng-minlength="8" ng-maxlength="15" required ng-disabled="_loading">
          <span ng-show="!!newUser['password'].$error.minlength" style="color:red">Password must contain at least 8 characters</span>
          <span ng-show="!!newUser['password'].$error.maxlength" style="color:red">Password must contain 15 characters max</span>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <div class="text-center" style="margin-bottom: 10px">
          By clicking on Sign Up you agree with our
          <a href="https://www.revapm.com/tos/" target="_blank">Terms Of Service</a>,
          <a href="https://www.revapm.com/aup/" target="_blank">Acceptable Use Policy</a> and
          <a href="https://www.revapm.com/privacy/" target="_blank">Privacy Policy</a>
        </div>
        <br>
        <div class="col-md-8">
          <div class="pull-right">
            <a ui-sref="^" class="btn btn-default">
              <i class="glyphicon glyphicon-remove"></i>&nbsp; Cancel
            </a>
            <button class="btn btn-success" ng-disabled="_loading || newUser.$invalid ||(($ctrl.model.password != $ctrl.model.passwordConfirm ||newUser.passwordConfirm.$invalid) &&newUser.passwordConfirm.$dirty )" ng-click="$ctrl.onSignUpShort($ctrl.model)">
              <i class="glyphicon glyphicon-log-in"></i> Sign Up
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
