<script type="text/ng-template" id="confirmUpdateModal.html">
  <div class="modal-header">
    <h3 class="modal-title">Confirm</h3>
  </div>
  <div class="modal-body">
    Are you sure you want to update
    <strong>{{model.companyName}}</strong> company profile?
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    <button class="btn btn-danger" type="button" ng-click="ok()">OK</button>
  </div>
</script>
<script type="text/ng-template" id="confirmDeleteModal.html">
  <div class="modal-header">
    <h3 class="modal-title">Confirm</h3>
  </div>
  <div class="modal-body">
    <div class="row">
      <!-- isCanBeDeleted = true -->
      <div class="col-sm-12" ng-if="model.isCanBeDeleted">
        <p>You are requesting to cancel your current subscription to billing plan <strong>{{model.bp.name}}</strong> and delete your customer account in system. The following will happen:</p>
        <ul>
          <li>Your credit card will be not charged after the cancellation will take affect</li>
          <li>No refunds or prorations will be made</li>
          <li>All your RevAPM users accounts and API keys will be removed from the system</li>
        </ul>
        <div class="form-group">
          <label class="">Enter an optional cancellation reason/message:</label>
          <div class="col-sm-12">
            <textarea class="form-control" name="cancellationMessage" ng-model="model.cancellation_message" class="cancellation_message"></textarea>
          </div>
        </div>
      </div>
      <!-- isCanBeDeleted = false -->
      <div class="col-sm-12" ng-if="!model.isCanBeDeleted">
        <p class="text-center">Your RevAPM account has active web domain and/or mobile app configurations. To ensure that the account cancellation will not affect your end users please review your RevAPM configuration and manually delete the resources before proceeding with account cancellation
        </p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-if="model.isCanBeDeleted" ng-click="cancel()">Cancel</button>
    <button class="btn btn-warning" type="button" ng-if="!model.isCanBeDeleted" ng-click="cancel()">Close The Window</button>
    <button class="btn btn-danger" type="button" ng-if="model.isCanBeDeleted" ng-click="ok(model)">Proceed</button>
  </div>
</script>
<!-- -->
<script type="text/ng-template" id="confirmCreateBillingProfileModal.html">
  <div class="modal-header">
    <h3 class="modal-title">Confirm</h3>
  </div>
  <div class="modal-body">
    Are you sure you want to create Billing Profile for
    <strong>{{model.companyName}}</strong> company?
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    <button class="btn btn-danger" type="button" ng-click="ok()">OK</button>
  </div>
</script>
<div class="container-fluid" ui-view="page">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="pull-left page-title">
                Account Profile
            </h2>
    </div>
  </div>
  <div class="row section-edit-company" ng-init="initEditCompany()">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading" ng-if="!userService.isAdmin()">
          <div class="row">
            <div class="col-md-12">
              <div class="pull-left">
                <a ng-disabled="_loading" ui-sref="index.accountSettings.companies" class="btn btn-default">
                  <i class="glyphicon glyphicon-arrow-left"></i>&nbsp; Back
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="alert alert-info" ng-if="_loading">
            <i class="glyphicon glyphicon-refresh spin" ng-if="item.loading"></i>&nbsp; Loading...
          </div>
          <form class="form-horizontal" name="editForm" ng-submit="updateCompany(model)" novalidate>
            <div class="form-group" ng-class="{ 'has-error': editForm.companyName.$invalid &&
                            editForm.companyName.$dirty }">
              <label for="companyName" class="col-sm-2 control-label" popover-trigger="mouseenter" uib-popover="Will be generated from your first and last name if left empty.">
                Company Name &nbsp;</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="companyName" name="companyName" placeholder="Company Name" maxlength="250" ng-model="model.companyName" ng-disabled="_loading" required>
                <div class="error-messages" ng-messages="editForm.companyName.$error" role="alert" ng-messages-multiple>
                  <div ng-messages-include="parts/shared/error-messages.html"></div>
                </div>
              </div>
            </div>
            <hr>
            <!-- first_name-->
            <div class="form-group" ng-class="{ 'has-error': editForm.firstName.$invalid && editForm.firstName.$dirty }">
              <label for="firstName" class="col-sm-2 control-label" popover-trigger="mouseenter" uib-popover="First Name">First Name *</label>
              <div class="col-sm-10 ">
                <input type="text" class="form-control" required id="firstName" name="firstName" placeholder="First Name" ng-model="model.first_name" ng-disabled="_loading">
                <div class="error-messages" ng-messages="editForm.firstName.$error" role="alert" ng-messages-multiple>
                  <div ng-messages-include="parts/shared/error-messages.html"></div>
                </div>
              </div>
            </div>
            <!-- last_name-->
            <div class="form-group" ng-class="{ 'has-error': editForm.lastName.$invalid && editForm.lastName.$dirty }">
              <label for="lastName" class="col-sm-2 control-label" popover-trigger="mouseenter" uib-popover="Last Name">Last Name *</label>
              <div class="col-sm-10 ">
                <input type="text" class="form-control" required id="lastName" name="lastName" placeholder="Last Name" ng-model="model.last_name" ng-disabled="_loading">
                <div class="error-messages" ng-messages="editForm.lastName.$error" role="alert" ng-messages-multiple>
                  <div ng-messages-include="parts/shared/error-messages.html"></div>
                </div>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': editForm.phoneNumber.$invalid &&
                            editForm.phoneNumber.$dirty }">
              <label for="phoneNumber" class="col-sm-2 control-label" popover-trigger="mouseenter" uib-popover="Contact phone number">Phone Number *</label>
              <div class="col-sm-10">
                <input type="text" ng-pattern="phoneRegex" class="form-control" required id="phoneNumber" name="phoneNumber" placeholder="Phone Number" ng-model="model.phone_number" ng-disabled="_loading">
                <div class="error-messages" ng-messages="editForm.phoneNumber.$error" role="alert" ng-messages-multiple>
                  <div ng-messages-include="parts/shared/error-messages.html"></div>
                </div>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': editForm.contactEmail.$invalid &&  editForm.contactEmail.$dirty }">
              <label for="phoneNumber" class="col-sm-2 control-label" popover-trigger="mouseenter" uib-popover="Contact Email">Contact Email *</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" required id="contactEmail" name="contactEmail" placeholder="Contact Email" ng-model="model.contact_email" ng-disabled="_loading">
                <div class="error-messages" ng-messages="editForm.contactEmail.$error" role="alert" ng-messages-multiple>
                  <div ng-messages-include="parts/shared/error-messages.html"></div>
                </div>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-error': editForm.address1.$invalid && editForm.address1.$dirty }">
              <label for="address1" class="col-sm-2 control-label" popover-trigger="mouseenter" uib-popover="Could be used as a billing address later.">Address *</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" required id="address1" name="address1" placeholder="Address 1" ng-model="model.address1" ng-disabled="_loading">
                <div class="error-messages" ng-messages="editForm.address1.$error" role="alert" ng-messages-multiple>
                  <div ng-messages-include="parts/shared/error-messages.html"></div>
                </div>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': editForm.address2.$invalid && editForm.address2.$dirty }">
              <label for="address2" class="col-sm-2 control-label" popover-trigger="mouseenter" uib-popover="Could be used as a billing address later.">Address (Line 2) &nbsp;</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="address2" name="address2" placeholder="Address (Line 2)" ng-model="model.address2" ng-disabled="_loading">
                <div class="error-messages" ng-messages="editForm.address2.$error" role="alert" ng-messages-multiple>
                  <div ng-messages-include="parts/shared/error-messages.html"></div>
                </div>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': editForm.country.$invalid && editForm.country.$dirty }">
              <label for="Country" class="col-sm-2 control-label" popover-trigger="mouseenter" uib-popover="Could be used in a billing address later.">Country *</label>
              <div class="col-sm-10">
                <select type="text" class="form-control" id="Country" name="country" placeholder="Country" required ng-model="model.country" ng-options="key as value for (key , value) in countries" ng-disabled="_loading">
                </select>
                <div class="error-messages" ng-messages="editForm.country.$error" role="alert" ng-messages-multiple>
                  <div ng-messages-include="parts/shared/error-messages.html"></div>
                </div>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': editForm.state.$invalid && editForm.state.$dirty }">
              <label for="state" class="col-sm-2 control-label" popover-trigger="mouseenter" uib-popover="Could be used in a billing address later.">State *</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="state" name="state" required placeholder="State" ng-model="model.state" ng-disabled="_loading">
                <div class="error-messages" ng-messages="editForm.state.$error" role="alert" ng-messages-multiple>
                  <div ng-messages-include="parts/shared/error-messages.html"></div>
                </div>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': editForm.city.$invalid && editForm.city.$dirty }">
              <label for="City" class="col-sm-2 control-label" popover-trigger="mouseenter" uib-popover="Could be used in a billing address later.">City *</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="city" name="city" required placeholder="City" ng-model="model.city" ng-disabled="_loading">
                <div class="error-messages" ng-messages="editForm.city.$error" role="alert" ng-messages-multiple>
                  <div ng-messages-include="parts/shared/error-messages.html"></div>
                </div>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': editForm.Zipcode.$invalid && editForm.Zipcode.$dirty }">
              <label for="Zipcode" class="col-sm-2 control-label" popover-trigger="mouseenter" uib-popover="Could be used in a billing address later.">Zip Code *</label>
              <div class="col-sm-10">
                <input type="text" ng-pattern="zipRegex" class="form-control" id="Zipcode" name="Zipcode" maxlength="10" required placeholder="Zip Code" ng-model="model.zipcode" ng-disabled="_loading">
                <div class="error-messages" ng-messages="editForm.Zipcode.$error" role="alert" ng-messages-multiple>
                  <div ng-messages-include="parts/shared/error-messages.html"></div>
                </div>
              </div>
            </div>
            <hr>
            <div class="form-group" ng-class="{ 'has-error': editForm.comment.$invalid && editForm.comment.$dirty }">
              <label for="comment" class="col-sm-2 control-label" popover-trigger="mouseenter" uib-popover="Comment">Comment</label>
              <div class="col-sm-10">
                <textarea id="comment" class="form-control" name="comment" ng-model="model.comment" placeholder="Comment (max 300 symbol) " ng-maxlength="300" ng-disabled="_loading">
                </textarea>
                <div class="error-messages" ng-messages="editForm.comment.$error" role="alert" ng-messages-multiple>
                  <div ng-messages-include="parts/shared/error-messages.html"></div>
                </div>
              </div>
            </div>
            <div class="form-group" ng-if="model.billing_id && model.subscription_id">
              <p class="col-md-12 text text-center"> To update your billing address (as it will appears on your RevAPM statements) please click on “Update Payment Profile” button and provide the information together with credit card details.</p>
            </div>
            <!--
            <div class="form-group" ng-if="model.billing_id && (userService.isReseller() || userService.isRevadmin())">
              <label for="comment" class="col-sm-2 control-label" popover-trigger="mouseenter" uib-popover="Billing plan">Billing Plan</label>
              <div class="col-sm-10">
                <ui-select ng-model="model.billing_plan" theme="select2" ng-disabled="_loading" on-select="" style="min-width: 300px;">
                  <ui-select-match placeholder="Select Billing Plan">{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices repeat="item.id as item in billing_plans | filter: {name: $select.search}">
                    <div ng-bind-html="item.name|highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
            -->
            <!--  Section “Billing Contact Details” only for accounts without chagify_id -->
            <section class="row billing_contact_details" ng-if="!model.billing_id">
              <hr>
              <div class="col-md-12 ">
                <h3 class="col-md-12 text-center"> Billing Contact Details</h3>
              </div>
              <div class="form-group col-md-12">
                <label class="col-sm-4 control-label" for="useContactInfoAsBillingInfo">Use Company Contact Information As Billing Contact Details?</label>
                <div class="col-sm-8">
                  <toggle-switch name="useContactInfoAsBillingInfo" ng-model="model.use_contact_info_as_billing_info" on-label="Yes" off-label="No">
                  </toggle-switch>
                </div>
              </div>
              <div class="row contact_info" ng-if="!model.use_contact_info_as_billing_info">
                <!-- billing_info.first_name-->
                <div class="form-group col-md-6" ng-class="{ 'has-error': editForm.billingFirstName.$invalid && editForm.billingFirstName.$dirty }">
                  <label for="billingFirstName" class="col-sm-4 control-label" popover-trigger="mouseenter" uib-popover="First Name">First Name *</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" required id="first_name" name="billingFirstName" placeholder="First Name" ng-model="model.billing_info.first_name" ng-disabled="_loading">
                    <div class="error-messages" ng-messages="editForm.billingFirstName.$error" role="alert" ng-messages-multiple>
                      <div ng-messages-include="parts/shared/error-messages.html"></div>
                    </div>
                  </div>
                </div>
                <!-- billing_info.last_name-->
                <div class="form-group col-md-6" ng-class="{ 'has-error': editForm.billingLastName.$invalid &&  editForm.billingLastName.$dirty }">
                  <label for="billingLastName" class="col-sm-4 control-label" popover-trigger="mouseenter" uib-popover="Last Name">Last Name *</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" required id="last_name" name="billingLastName" placeholder="Last Name" ng-model="model.billing_info.last_name" ng-disabled="_loading">
                    <div class="error-messages" ng-messages="editForm.billingLastName.$error" role="alert" ng-messages-multiple>
                      <div ng-messages-include="parts/shared/error-messages.html"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" ng-if="!model.use_contact_info_as_billing_info">
                <div class="form-group col-md-6" ng-class="{ 'has-error': editForm.billingContactEmail.$invalid &&
                            editForm.billingContactEmail.$dirty }">
                  <label for="billingContactEmail" class="col-sm-4 control-label" popover-trigger="mouseenter" uib-popover="Contact email">Contact email *</label>
                  <div class="col-sm-8">
                    <input type="email" class="form-control" required id="billingContactEmail" name="billingContactEmail" placeholder="Contact Email" ng-model="model.billing_info.contact_email" ng-disabled="_loading">
                    <div class="error-messages" ng-messages="editForm.billingContactEmail.$error" role="alert" ng-messages-multiple>
                      <div ng-messages-include="parts/shared/error-messages.html"></div>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6" ng-class="{ 'has-error': editForm.billingPhoneNumber.$invalid &&  editForm.billingPhoneNumber.$dirty }">
                  <label for="phoneNumber" class="col-sm-4 control-label" popover-trigger="mouseenter" uib-popover="Contact phone number">Phone </label>
                  <div class="col-sm-8">
                    <input type="text" ng-pattern="phoneRegex" class="form-control" id="billingPhoneNumber" name="billingPhoneNumber" placeholder="Contact Phone" ng-model="model.billing_info.phone_number" ng-disabled="_loading">
                    <div class="error-messages" ng-messages="editForm.billingPhoneNumber.$error" role="alert" ng-messages-multiple>
                      <div ng-messages-include="parts/shared/error-messages.html"></div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Addres info-->
              <div class="row" ng-if="!model.use_contact_info_as_billing_info">
                <div class="form-group col-md-6" ng-class="{ 'has-error': editForm.billingAddress1.$invalid && editForm.billingAddress1.$dirty }">
                  <label for="billingAddress1" class="col-sm-4 control-label" popover-trigger="mouseenter" uib-popover="Will be used as a billing address.">Address *</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" required id="billingAddress1" name="billingAddress1" placeholder="Address 1" ng-model="model.billing_info.address1" ng-disabled="_loading">
                    <div class="error-messages" ng-messages="editForm.billingAddress1.$error" role="alert" ng-messages-multiple>
                      <div ng-messages-include="parts/shared/error-messages.html"></div>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6" ng-class="{ 'has-error': editForm.billingAddress2.$invalid && editForm.billingAddress2.$dirty }">
                  <label for="billingAddress2" class="col-sm-4 control-label" popover-trigger="mouseenter" uib-popover="Will be used as a billing address later.">Address (Line 2) &nbsp;</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="billingAddress2" name="billingAddress2" placeholder="Address (Line 2)" ng-model="model.billing_info.address2" ng-disabled="_loading">
                    <div class="error-messages" ng-messages="editForm.billingAddress2.$error" role="alert" ng-messages-multiple>
                      <div ng-messages-include="parts/shared/error-messages.html"></div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- -->
              <div class="row" ng-if="!model.use_contact_info_as_billing_info">
                <div class="form-group col-md-6" ng-class="{ 'has-error': editForm.billingCountry.$invalid &&
                            editForm.billingCountry.$dirty }">
                  <label for="billingCountry" class="col-sm-4 control-label" popover-trigger="mouseenter" uib-popover="Will be used in a billing address.">Country *</label>
                  <div class="col-sm-8">
                    <select type="text" class="form-control" id="billingCountry" name="billingCountry" placeholder="Country" required ng-model="model.billing_info.country" ng-options="key as value for (key , value) in countries" ng-disabled="_loading">
                    </select>
                    <div class="error-messages" ng-messages="editForm.billingCountry.$error" role="alert" ng-messages-multiple>
                      <div ng-messages-include="parts/shared/error-messages.html"></div>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6" ng-class="{ 'has-error': editForm.billingState.$invalid &&  editForm.billingState.$dirty }">
                  <label for="billingState" class="col-sm-4 control-label" popover-trigger="mouseenter" uib-popover="Will be used in a billing address.">State *</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="billingState" name="billingState" required placeholder="State" ng-model="model.billing_info.state" ng-disabled="_loading">
                    <div class="error-messages" ng-messages="editForm.billingState.$error" role="alert" ng-messages-multiple>
                      <div ng-messages-include="parts/shared/error-messages.html"></div>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6" ng-class="{ 'has-error': editForm.billingCity.$invalid &&  editForm.billingCity.$dirty }">
                  <label for="billingCity" class="col-sm-4 control-label" popover-trigger="mouseenter" uib-popover="Will be used in a billing address.">City *</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="billingCity" name="billingCity" required placeholder="City" ng-model="model.billing_info.city" ng-disabled="_loading">
                    <div class="error-messages" ng-messages="editForm.billingCity.$error" role="alert" ng-messages-multiple>
                      <div ng-messages-include="parts/shared/error-messages.html"></div>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6" ng-class="{ 'has-error': editForm.billingZipcode.$invalid && editForm.billingZipcode.$dirty }">
                  <label for="billingZipcode" class="col-sm-4 control-label" popover-trigger="mouseenter" uib-popover="Will be used in a billing address.">Zip Code *</label>
                  <div class="col-sm-8">
                    <input type="text" ng-pattern="zipRegex" class="form-control" id="billingZipcode" name="billingZipcode" maxlength="10" required placeholder="Zip Code" ng-model="model.billing_info.zipcode" ng-disabled="_loading">
                    <div class="error-messages" ng-messages="editForm.billingZipcode.$error" role="alert" ng-messages-multiple>
                      <div ng-messages-include="parts/shared/error-messages.html"></div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <hr>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <a ui-sref="^" ng-disabled="_loading" class="btn btn-default">
                  <i class="glyphicon glyphicon-remove"></i>&nbsp; Cancel
                </a>
                <button type="submit" class="btn btn-success" ng-disabled="_loading || _disabled || !editForm.$valid" value="Update Company Profile">
                  <i class="glyphicon glyphicon-save"></i> Update Company Profile
                </button>
                <!-- TODO: Need to disable "Edit Billing Profile" button if the billing profile is not active in Chargify  -->
                <a ng-if="model.billing_id && !!model.billing_portal_link.url && !!model.subscription_id" href="{{model.billing_portal_link.url}}" class="btn btn-primary" target="_blank" ng-disabled="_loading || _disabled" popover-trigger="mouseenter" uib-popover="Click here to update your payment details - you will be taken to our billing portal which uses a separate URL">
                  <i class="glyphicon glyphicon-lock"></i> Update Payment Profile</a>
                <!-- Create Billing Profile -->
                <a href="" class="btn btn-primary" ng-disabled="_loading || _disabled || !editForm.$valid" ng-if="!model.billing_id && (userService.isRevadmin() || userService.isReseller())" ng-click="createBillingProfile(model)">
                  <i class="glyphicon glyphicon-credit-card"></i> Create Billing Profile
                </a>
                <!-- TODO: add check valid payment method -->
                <button type="button" ng-if="user.isAdmin" ng-click="deleteCompanyProfile(model)" class="btn btn-danger pull-right" ng-disabled="_loading || _disabled || !isCanDeleteCompanyProfile()">
                  <i class="glyphicon glyphicon-refresh spin" ng-if="_loading"></i>
                  <i class="glyphicon glyphicon-remove" ng-if="!_loading"></i>&nbsp; Delete Company Profile
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
